openapi: 3.0.0
info:
  title: ../testdata/flows_with_balance.mitm Enhanced Mitmproxy2Swagger
  version: 1.0.0
  description: Enhanced with balance data extraction capabilities
  x-analysis-stats:
    total_flows: 159
    processed_flows: 159
    balance_apis_found: 6
    extraction_success_rate: 0.03773584905660377
    currencies_detected:
    - HKD
    - USD
    banks_detected:
    - hk_banks
servers:
- url: https://its.bochk.com
  description: Hong Kong Banking (BOC Branch) API Server
- url: https://www.cmbwinglungbank.com
  description: Hong Kong Banking (Wing Lung Branch) API Server
paths:
  /acc.overview.do:
    get:
      summary: GET /acc.overview.do
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
            application/json:
              schema:
                type: object
                properties:
                  balances:
                    type: array
                    items:
                      $ref: '#/components/schemas/BalanceData'
      x-bank-region: hk_banks
      x-bank-type: unknown
      x-api-category: unknown
      x-server-domain: its.bochk.com
      x-extracted-balances:
      - amount: 13,392.83
        numeric: 13392.83
        currency: HKD
        confidence: 0.6
        extraction_method: universal_rules_engine
        account_type: unknown
      - amount: '4.01'
        numeric: 4.01
        currency: HKD
        confidence: 0.0
        extraction_method: universal_rules_engine
        account_type: unknown
      - amount: '101.24'
        numeric: 101.24
        currency: USD
        confidence: 0.6
        extraction_method: universal_rules_engine
        account_type: unknown
      x-currencies-found:
      - HKD
      - USD
      x-quality-score: 0.84
      x-overall-confidence: 0.5409273182957393
  /ibanking/logon/NbHomLogonInp.jsp:
    get:
      summary: GET /ibanking/logon/NbHomLogonInp.jsp
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
            application/json:
              schema:
                type: object
                properties:
                  balances:
                    type: array
                    items:
                      $ref: '#/components/schemas/BalanceData'
      x-bank-region: hk_banks
      x-bank-type: unknown
      x-api-category: unknown
      x-server-domain: www.cmbwinglungbank.com
      x-extracted-balances:
      - amount: '537.36'
        numeric: 537.36
        currency: USD
        confidence: 0.0
        extraction_method: universal_rules_engine
        account_type: unknown
      x-currencies-found:
      - USD
      x-quality-score: 0.84
      x-overall-confidence: 0.3177443609022556
  /ibanking/WlbLogonServlet:
    post:
      summary: POST /ibanking/WlbLogonServlet
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
            application/json:
              schema:
                type: object
                properties:
                  balances:
                    type: array
                    items:
                      $ref: '#/components/schemas/BalanceData'
      x-bank-region: hk_banks
      x-bank-type: unknown
      x-api-category: unknown
      x-server-domain: www.cmbwinglungbank.com
      x-extracted-balances:
      - amount: '12.29'
        numeric: 12.29
        currency: HKD
        confidence: 0.0
        extraction_method: universal_rules_engine
        account_type: unknown
      x-currencies-found:
      - HKD
      x-quality-score: 0.84
      x-overall-confidence: 0.16060150375939847
  /ibanking/McpCSReqServlet:
    get:
      summary: GET /ibanking/McpCSReqServlet
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
    post:
      summary: POST /ibanking/McpCSReqServlet
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
            application/json:
              schema:
                type: object
                properties:
                  balances:
                    type: array
                    items:
                      $ref: '#/components/schemas/BalanceData'
      x-bank-region: hk_banks
      x-bank-type: unknown
      x-api-category: unknown
      x-server-domain: www.cmbwinglungbank.com
      x-extracted-balances:
      - amount: 7,151.78
        numeric: 7151.78
        currency: HKD
        confidence: 0.25
        extraction_method: universal_rules_engine
        account_type: unknown
      - amount: '30.75'
        numeric: 30.75
        currency: USD
        confidence: 0.25
        extraction_method: universal_rules_engine
        account_type: unknown
      x-currencies-found:
      - HKD
      - USD
      x-quality-score: 0.37333333333333335
      x-overall-confidence: 0.40859649122807024
  /css/textAd.css:
    get:
      summary: GET /css/textAd.css
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /js/browser_detect.js:
    get:
      summary: GET /js/browser_detect.js
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /css/ocsCin.css:
    get:
      summary: GET /css/ocsCin.css
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /css/orange.css:
    get:
      summary: GET /css/orange.css
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /css/c.css:
    get:
      summary: GET /css/c.css
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /css/linkui.css:
    get:
      summary: GET /css/linkui.css
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /css/promote.css:
    get:
      summary: GET /css/promote.css
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /css/menu.css:
    get:
      summary: GET /css/menu.css
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /js/IbsCommon.js:
    get:
      summary: GET /js/IbsCommon.js
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /js/IbsDelay.js:
    get:
      summary: GET /js/IbsDelay.js
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /js/general.js:
    get:
      summary: GET /js/general.js
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /js/text_c.js:
    get:
      summary: GET /js/text_c.js
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /js/calendarLoader.js:
    get:
      summary: GET /js/calendarLoader.js
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /js/IbsValidForm.js:
    get:
      summary: GET /js/IbsValidForm.js
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /js/IbsCbsCommon.js:
    get:
      summary: GET /js/IbsCbsCommon.js
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /js/jquery-min.js:
    get:
      summary: GET /js/jquery-min.js
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /js/jQuery.migrate.js:
    get:
      summary: GET /js/jQuery.migrate.js
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /js/jquery.xdomainrequest.min.js:
    get:
      summary: GET /js/jquery.xdomainrequest.min.js
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /js/LinkUiKit.js:
    get:
      summary: GET /js/LinkUiKit.js
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /images/common/top/logo_boc_ifree.gif:
    get:
      summary: GET /images/common/top/logo_boc_ifree.gif
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /CQ/ibsbanner/TopBanner/mgmTop_C.jpg:
    get:
      summary: GET /CQ/ibsbanner/TopBanner/mgmTop_C.jpg
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /images/common/top/home_c.gif:
    get:
      summary: GET /images/common/top/home_c.gif
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /images/common/top/lang_e.gif:
    get:
      summary: GET /images/common/top/lang_e.gif
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /images/common/top/lang_s.gif:
    get:
      summary: GET /images/common/top/lang_s.gif
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /js/iframe_core_src.js:
    get:
      summary: GET /js/iframe_core_src.js
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /js/iframe_mmenudom.js:
    get:
      summary: GET /js/iframe_mmenudom.js
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /js/iframe_menu_boc_c.js:
    get:
      summary: GET /js/iframe_menu_boc_c.js
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /images/eJourney/ejy_icn.gif:
    get:
      summary: GET /images/eJourney/ejy_icn.gif
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /images/common/top/quicklink_c.gif:
    get:
      summary: GET /images/common/top/quicklink_c.gif
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /images/common/nav/nav1_bkgd.gif:
    get:
      summary: GET /images/common/nav/nav1_bkgd.gif
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /images/common/nav/nav1_l.gif:
    get:
      summary: GET /images/common/nav/nav1_l.gif
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /images/common/nav/nav1_corner.gif:
    get:
      summary: GET /images/common/nav/nav1_corner.gif
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /images/common/spacer.gif:
    get:
      summary: GET /images/common/spacer.gif
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /images/common/top/logout_c.gif:
    get:
      summary: GET /images/common/top/logout_c.gif
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /images/assistant/mailbox/email.jpg:
    get:
      summary: GET /images/assistant/mailbox/email.jpg
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /images/common/icon/switch_off_menu.gif:
    get:
      summary: GET /images/common/icon/switch_off_menu.gif
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /images/common/top/contactUs_c.gif:
    get:
      summary: GET /images/common/top/contactUs_c.gif
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /images/common/icon/help.jpg:
    get:
      summary: GET /images/common/icon/help.jpg
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /images/promote/red_croner_right.gif:
    get:
      summary: GET /images/promote/red_croner_right.gif
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /images/common/btn/button_arc_single.gif:
    get:
      summary: GET /images/common/btn/button_arc_single.gif
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /images/common/title_bkgd.gif:
    get:
      summary: GET /images/common/title_bkgd.gif
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /images/common/icon/print.jpg:
    get:
      summary: GET /images/common/icon/print.jpg
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /images/common/btn/button_li_single.gif:
    get:
      summary: GET /images/common/btn/button_li_single.gif
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /images/common/btn/button_tb_li_ns.gif:
    get:
      summary: GET /images/common/btn/button_tb_li_ns.gif
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /images/promote/red_backgroud.gif:
    get:
      summary: GET /images/promote/red_backgroud.gif
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /images/common/btn/button_tb_arc_ns.gif:
    get:
      summary: GET /images/common/btn/button_tb_arc_ns.gif
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /images/common/icon/shortcut_add.gif:
    get:
      summary: GET /images/common/icon/shortcut_add.gif
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /images/common/icon/link_btn_normal_C.png:
    get:
      summary: GET /images/common/icon/link_btn_normal_C.png
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /images/common/iframe/nav1_left_c.gif:
    get:
      summary: GET /images/common/iframe/nav1_left_c.gif
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /images/promote/red_croner_left.gif:
    get:
      summary: GET /images/promote/red_croner_left.gif
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /images/common/iframe/nav1_right_c.gif:
    get:
      summary: GET /images/common/iframe/nav1_right_c.gif
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /images/common/nav/orange/nav2_bkgd.gif:
    get:
      summary: GET /images/common/nav/orange/nav2_bkgd.gif
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /images/common/nav/orange/nav2_corner.gif:
    get:
      summary: GET /images/common/nav/orange/nav2_corner.gif
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /images/common/nav/nav3_corner_right_on.gif:
    get:
      summary: GET /images/common/nav/nav3_corner_right_on.gif
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /images/common/nav/nav3_corner_left_on.gif:
    get:
      summary: GET /images/common/nav/nav3_corner_left_on.gif
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /images/common/nav/nav3_corner_right.gif:
    get:
      summary: GET /images/common/nav/nav3_corner_right.gif
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /images/common/nav/nav3_corner_left.gif:
    get:
      summary: GET /images/common/nav/nav3_corner_left.gif
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /images/common/iframe/nav_arrow.gif:
    get:
      summary: GET /images/common/iframe/nav_arrow.gif
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /CnNbMainR.html:
    get:
      summary: GET /CnNbMainR.html
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /js/globalVar.js:
    get:
      summary: GET /js/globalVar.js
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /js/Function.js:
    get:
      summary: GET /js/Function.js
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /js/ENwlbHandleError.js:
    get:
      summary: GET /js/ENwlbHandleError.js
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
            application/json:
              schema:
                type: object
                properties:
                  balances:
                    type: array
                    items:
                      $ref: '#/components/schemas/BalanceData'
      x-bank-region: hk_banks
      x-bank-type: unknown
      x-api-category: unknown
      x-server-domain: www.cmbwinglungbank.com
      x-extracted-balances:
      - amount: '100.00'
        numeric: 100.0
        currency: HKD
        confidence: 0.5
        extraction_method: universal_rules_engine
        account_type: unknown
      x-currencies-found:
      - HKD
      x-quality-score: 0.7
      x-overall-confidence: 0.3469924812030075
  /js/CNwlbHandleError.js:
    get:
      summary: GET /js/CNwlbHandleError.js
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /js/SCwlbHandleError.js:
    get:
      summary: GET /js/SCwlbHandleError.js
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /js/FieldValidator.js:
    get:
      summary: GET /js/FieldValidator.js
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /js/ErrDisplayWin.js:
    get:
      summary: GET /js/ErrDisplayWin.js
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /js/typhoonInd.js:
    get:
      summary: GET /js/typhoonInd.js
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /js/typhoonList.js:
    get:
      summary: GET /js/typhoonList.js
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /js/ControlCenter.js:
    get:
      summary: GET /js/ControlCenter.js
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /html/XxNbOthWBlank.html:
    get:
      summary: GET /html/XxNbOthWBlank.html
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /js/jquery-3.2.1.min.js:
    get:
      summary: GET /js/jquery-3.2.1.min.js
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /js/common/correctpng.js:
    get:
      summary: GET /js/common/correctpng.js
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /js/common/wlbJs.js:
    get:
      summary: GET /js/common/wlbJs.js
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /js/resize.js:
    get:
      summary: GET /js/resize.js
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /js/log/McpAsciiToEbcdic.js:
    get:
      summary: GET /js/log/McpAsciiToEbcdic.js
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /js/log/McpMDEncryption.js:
    get:
      summary: GET /js/log/McpMDEncryption.js
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /js/log/McpMD5Encryption.js:
    get:
      summary: GET /js/log/McpMD5Encryption.js
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /js/log/McpPasswordEncryptionR.js:
    get:
      summary: GET /js/log/McpPasswordEncryptionR.js
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /js/log/McpPassword.js:
    get:
      summary: GET /js/log/McpPassword.js
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /js/log/McpPasswordHashingR.js:
    get:
      summary: GET /js/log/McpPasswordHashingR.js
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /js/log/McpPasswordTQTR.js:
    get:
      summary: GET /js/log/McpPasswordTQTR.js
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /js/log/McpPasswordTSTT.js:
    get:
      summary: GET /js/log/McpPasswordTSTT.js
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /js/log/McpHexUtil.js:
    get:
      summary: GET /js/log/McpHexUtil.js
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /js/log/OperationMode.js:
    get:
      summary: GET /js/log/OperationMode.js
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /js/log/OperationModeCBC.js:
    get:
      summary: GET /js/log/OperationModeCBC.js
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /js/log/DESCore1KeyBlockCipher.js:
    get:
      summary: GET /js/log/DESCore1KeyBlockCipher.js
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /js/log/McpHSMEncodeEnginee.js:
    get:
      summary: GET /js/log/McpHSMEncodeEnginee.js
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /js/log/security.js:
    get:
      summary: GET /js/log/security.js
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /js/DimmingDiv.js:
    get:
      summary: GET /js/DimmingDiv.js
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /js/swiper.min.js:
    get:
      summary: GET /js/swiper.min.js
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /js/E2EE/jsbn.js:
    get:
      summary: GET /js/E2EE/jsbn.js
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /js/E2EE/tripledes.js:
    get:
      summary: GET /js/E2EE/tripledes.js
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /js/E2EE/mode-ecb.js:
    get:
      summary: GET /js/E2EE/mode-ecb.js
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /js/E2EE/pad-zeropadding-min.js:
    get:
      summary: GET /js/E2EE/pad-zeropadding-min.js
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /js/E2EE/WPCommon.js:
    get:
      summary: GET /js/E2EE/WPCommon.js
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /js/E2EE/sjcl.js:
    get:
      summary: GET /js/E2EE/sjcl.js
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /js/E2EE/E2EE.js:
    get:
      summary: GET /js/E2EE/E2EE.js
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /js/E2EE/ErrorCheck.js:
    get:
      summary: GET /js/E2EE/ErrorCheck.js
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /js/E2EE/pad-nopadding.js:
    get:
      summary: GET /js/E2EE/pad-nopadding.js
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /js/E2EE10K/WPRSA.js:
    get:
      summary: GET /js/E2EE10K/WPRSA.js
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /js/E2EE10K/crypto-4.0.0.js:
    get:
      summary: GET /js/E2EE10K/crypto-4.0.0.js
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /js/E2EE10K/WPCommon.js:
    get:
      summary: GET /js/E2EE10K/WPCommon.js
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /js/E2EE10K/WPConstant.js:
    get:
      summary: GET /js/E2EE10K/WPConstant.js
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /js/E2EE10K/WPErrorID.js:
    get:
      summary: GET /js/E2EE10K/WPErrorID.js
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /js/E2EE10K/sjcl.js:
    get:
      summary: GET /js/E2EE10K/sjcl.js
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /js/E2EE10K/WPE2EE.js:
    get:
      summary: GET /js/E2EE10K/WPE2EE.js
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /js/E2EE10K/ErrorCheck.js:
    get:
      summary: GET /js/E2EE10K/ErrorCheck.js
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /ibanking/Kaptcha.jpg:
    get:
      summary: GET /ibanking/Kaptcha.jpg
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /js/common/jquery-1.4.2.js:
    get:
      summary: GET /js/common/jquery-1.4.2.js
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /v1/leaks:lookupSingle:
    post:
      summary: POST /v1/leaks:lookupSingle
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /html/CnEnrollRewardPopwindow.html:
    get:
      summary: GET /html/CnEnrollRewardPopwindow.html
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /html/CnEnrolledRewardPopwin.html:
    get:
      summary: GET /html/CnEnrolledRewardPopwin.html
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /html/CnEnrollRewardAgreePopwindow.html:
    get:
      summary: GET /html/CnEnrollRewardAgreePopwindow.html
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /js/common/jquery.jScroll.js:
    get:
      summary: GET /js/common/jquery.jScroll.js
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /js/common/datepicker.js:
    get:
      summary: GET /js/common/datepicker.js
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /js/ui.tools.js:
    get:
      summary: GET /js/ui.tools.js
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /chrome-variations/seed:
    get:
      summary: GET /chrome-variations/seed
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /v4/threatListUpdates:fetch:
    get:
      summary: GET /v4/threatListUpdates:fetch
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
  /affiliation/v1/affiliation:lookupByHashPrefix:
    post:
      summary: POST /affiliation/v1/affiliation:lookupByHashPrefix
      description: Auto-generated from mitmproxy capture
      responses:
        '200':
          description: Successful response
          content:
            text/html:
              schema:
                type: string
x-path-templates:
- /acc.overview.do
- ignore:/css/textAd.css
- ignore:/js/browser_detect.js
- ignore:/css/ocsCin.css
- ignore:/css/orange.css
- ignore:/css/c.css
- ignore:/css/linkui.css
- ignore:/css/promote.css
- ignore:/css/menu.css
- ignore:/js/IbsCommon.js
- ignore:/js/IbsDelay.js
- ignore:/js/general.js
- ignore:/js/text_c.js
- ignore:/js/calendarLoader.js
- ignore:/js/IbsValidForm.js
- ignore:/js/IbsCbsCommon.js
- ignore:/js/jquery-min.js
- ignore:/js/jQuery.migrate.js
- ignore:/js/jquery.xdomainrequest.min.js
- ignore:/js/LinkUiKit.js
- ignore:/images/common/top/logo_boc_ifree.gif
- ignore:/CQ/ibsbanner/TopBanner/mgmTop_C.jpg
- ignore:/images/common/top/home_c.gif
- ignore:/images/common/top/lang_e.gif
- ignore:/images/common/top/lang_s.gif
- ignore:/js/iframe_core_src.js
- ignore:/js/iframe_mmenudom.js
- ignore:/js/iframe_menu_boc_c.js
- ignore:/images/eJourney/ejy_icn.gif
- ignore:/images/common/top/quicklink_c.gif
- ignore:/images/common/nav/nav1_bkgd.gif
- ignore:/images/common/nav/nav1_l.gif
- ignore:/images/common/nav/nav1_corner.gif
- ignore:/images/common/spacer.gif
- ignore:/images/common/top/logout_c.gif
- ignore:/images/assistant/mailbox/email.jpg
- ignore:/images/common/icon/switch_off_menu.gif
- ignore:/images/common/top/contactUs_c.gif
- ignore:/images/common/icon/help.jpg
- ignore:/images/promote/red_croner_right.gif
- ignore:/images/common/btn/button_arc_single.gif
- ignore:/images/common/title_bkgd.gif
- ignore:/images/common/icon/print.jpg
- ignore:/images/common/btn/button_li_single.gif
- ignore:/images/common/btn/button_tb_li_ns.gif
- ignore:/images/promote/red_backgroud.gif
- ignore:/images/common/btn/button_tb_arc_ns.gif
- ignore:/images/common/icon/shortcut_add.gif
- ignore:/images/common/icon/link_btn_normal_C.png
- ignore:/images/common/iframe/nav1_left_c.gif
- ignore:/images/promote/red_croner_left.gif
- ignore:/images/common/iframe/nav1_right_c.gif
- ignore:/images/common/nav/orange/nav2_bkgd.gif
- ignore:/images/common/nav/orange/nav2_corner.gif
- ignore:/images/common/nav/nav3_corner_right_on.gif
- ignore:/images/common/nav/nav3_corner_left_on.gif
- ignore:/images/common/nav/nav3_corner_right.gif
- ignore:/images/common/nav/nav3_corner_left.gif
- ignore:/images/common/iframe/nav_arrow.gif
- ignore:/CnNbMainR.html
- ignore:/js/globalVar.js
- ignore:/js/Function.js
- ignore:/js/ENwlbHandleError.js
- ignore:/js/CNwlbHandleError.js
- ignore:/js/SCwlbHandleError.js
- ignore:/js/FieldValidator.js
- ignore:/js/ErrDisplayWin.js
- ignore:/js/typhoonInd.js
- ignore:/js/typhoonList.js
- ignore:/js/ControlCenter.js
- ignore:/ibanking/logon/NbHomLogonInp.jsp
- ignore:/html/XxNbOthWBlank.html
- ignore:/js/jquery-3.2.1.min.js
- ignore:/js/common/correctpng.js
- ignore:/js/common/wlbJs.js
- ignore:/js/resize.js
- ignore:/js/log/McpAsciiToEbcdic.js
- ignore:/js/log/McpMDEncryption.js
- ignore:/js/log/McpMD5Encryption.js
- ignore:/js/log/McpPasswordEncryptionR.js
- ignore:/js/log/McpPassword.js
- ignore:/js/log/McpPasswordHashingR.js
- ignore:/js/log/McpPasswordTQTR.js
- ignore:/js/log/McpPasswordTSTT.js
- ignore:/js/log/McpHexUtil.js
- ignore:/js/log/OperationMode.js
- ignore:/js/log/OperationModeCBC.js
- ignore:/js/log/DESCore1KeyBlockCipher.js
- ignore:/js/log/McpHSMEncodeEnginee.js
- ignore:/js/log/security.js
- ignore:/js/DimmingDiv.js
- ignore:/js/swiper.min.js
- ignore:/js/E2EE/jsbn.js
- ignore:/js/E2EE/tripledes.js
- ignore:/js/E2EE/mode-ecb.js
- ignore:/js/E2EE/pad-zeropadding-min.js
- ignore:/js/E2EE/WPCommon.js
- ignore:/js/E2EE/sjcl.js
- ignore:/js/E2EE/E2EE.js
- ignore:/js/E2EE/ErrorCheck.js
- ignore:/js/E2EE/pad-nopadding.js
- ignore:/js/E2EE10K/WPRSA.js
- ignore:/js/E2EE10K/crypto-4.0.0.js
- ignore:/js/E2EE10K/WPCommon.js
- ignore:/js/E2EE10K/WPConstant.js
- ignore:/js/E2EE10K/WPErrorID.js
- ignore:/js/E2EE10K/sjcl.js
- ignore:/js/E2EE10K/WPE2EE.js
- ignore:/js/E2EE10K/ErrorCheck.js
- ignore:/ibanking/Kaptcha.jpg
- ignore:/ibanking/WlbLogonServlet
- ignore:/js/common/jquery-1.4.2.js
- /ibanking/McpCSReqServlet
- ignore:/html/CnEnrollRewardPopwindow.html
- ignore:/html/CnEnrolledRewardPopwin.html
- ignore:/html/CnEnrollRewardAgreePopwindow.html
- ignore:/js/common/jquery.jScroll.js
- ignore:/js/common/datepicker.js
- ignore:/js/ui.tools.js
- ignore:/css/textAd.css
- ignore:/js/browser_detect.js
- ignore:/css/ocsCin.css
- ignore:/css/orange.css
- ignore:/css/c.css
- ignore:/css/linkui.css
- ignore:/css/promote.css
- ignore:/css/menu.css
- ignore:/js/IbsCommon.js
- ignore:/js/IbsDelay.js
- ignore:/js/general.js
- ignore:/js/text_c.js
- ignore:/js/calendarLoader.js
- ignore:/js/IbsValidForm.js
- ignore:/js/IbsCbsCommon.js
- ignore:/js/jquery-min.js
- ignore:/js/jQuery.migrate.js
- ignore:/js/jquery.xdomainrequest.min.js
- ignore:/js/LinkUiKit.js
- ignore:/images/common/top/logo_boc_ifree.gif
- ignore:/CQ/ibsbanner/TopBanner/mgmTop_C.jpg
- ignore:/images/common/top/home_c.gif
- ignore:/images/common/top/lang_e.gif
- ignore:/images/common/top/lang_s.gif
- ignore:/js/iframe_core_src.js
- ignore:/js/iframe_mmenudom.js
- ignore:/js/iframe_menu_boc_c.js
- ignore:/images/eJourney/ejy_icn.gif
- ignore:/images/common/top/quicklink_c.gif
- ignore:/images/common/nav/nav1_bkgd.gif
- ignore:/images/common/nav/nav1_l.gif
- ignore:/images/common/nav/nav1_corner.gif
- ignore:/images/common/spacer.gif
- ignore:/images/common/top/logout_c.gif
- ignore:/images/assistant/mailbox/email.jpg
- ignore:/images/common/icon/switch_off_menu.gif
- ignore:/images/common/top/contactUs_c.gif
- ignore:/images/common/icon/help.jpg
- ignore:/images/promote/red_croner_right.gif
- ignore:/images/common/btn/button_arc_single.gif
- ignore:/images/common/title_bkgd.gif
- ignore:/images/common/icon/print.jpg
- ignore:/images/common/btn/button_li_single.gif
- ignore:/images/common/btn/button_tb_li_ns.gif
- ignore:/images/promote/red_backgroud.gif
- ignore:/images/common/btn/button_tb_arc_ns.gif
- ignore:/images/common/icon/shortcut_add.gif
- ignore:/images/common/icon/link_btn_normal_C.png
- ignore:/images/common/iframe/nav1_left_c.gif
- ignore:/images/promote/red_croner_left.gif
- ignore:/images/common/iframe/nav1_right_c.gif
- ignore:/images/common/nav/orange/nav2_bkgd.gif
- ignore:/images/common/nav/orange/nav2_corner.gif
- ignore:/images/common/nav/nav3_corner_right_on.gif
- ignore:/images/common/nav/nav3_corner_left_on.gif
- ignore:/images/common/nav/nav3_corner_right.gif
- ignore:/images/common/nav/nav3_corner_left.gif
- ignore:/images/common/iframe/nav_arrow.gif
- ignore:/CnNbMainR.html
- ignore:/js/globalVar.js
- ignore:/js/Function.js
- ignore:/js/ENwlbHandleError.js
- ignore:/js/CNwlbHandleError.js
- ignore:/js/SCwlbHandleError.js
- ignore:/js/FieldValidator.js
- ignore:/js/ErrDisplayWin.js
- ignore:/js/typhoonInd.js
- ignore:/js/typhoonList.js
- ignore:/js/ControlCenter.js
- ignore:/html/XxNbOthWBlank.html
- ignore:/js/jquery-3.2.1.min.js
- ignore:/js/common/correctpng.js
- ignore:/js/common/wlbJs.js
- ignore:/js/resize.js
- ignore:/js/log/McpAsciiToEbcdic.js
- ignore:/js/log/McpMDEncryption.js
- ignore:/js/log/McpMD5Encryption.js
- ignore:/js/log/McpPasswordEncryptionR.js
- ignore:/js/log/McpPassword.js
- ignore:/js/log/McpPasswordHashingR.js
- ignore:/js/log/McpPasswordTQTR.js
- ignore:/js/log/McpPasswordTSTT.js
- ignore:/js/log/McpHexUtil.js
- ignore:/js/log/OperationMode.js
- ignore:/js/log/OperationModeCBC.js
- ignore:/js/log/DESCore1KeyBlockCipher.js
- ignore:/js/log/McpHSMEncodeEnginee.js
- ignore:/js/log/security.js
- ignore:/js/DimmingDiv.js
- ignore:/js/swiper.min.js
- ignore:/js/E2EE/jsbn.js
- ignore:/js/E2EE/tripledes.js
- ignore:/js/E2EE/mode-ecb.js
- ignore:/js/E2EE/pad-zeropadding-min.js
- ignore:/js/E2EE/WPCommon.js
- ignore:/js/E2EE/sjcl.js
- ignore:/js/E2EE/E2EE.js
- ignore:/js/E2EE/ErrorCheck.js
- ignore:/js/E2EE/pad-nopadding.js
- ignore:/js/E2EE10K/WPRSA.js
- ignore:/js/E2EE10K/crypto-4.0.0.js
- ignore:/js/E2EE10K/WPCommon.js
- ignore:/js/E2EE10K/WPConstant.js
- ignore:/js/E2EE10K/WPErrorID.js
- ignore:/js/E2EE10K/sjcl.js
- ignore:/js/E2EE10K/WPE2EE.js
- ignore:/js/E2EE10K/ErrorCheck.js
- ignore:/ibanking/Kaptcha.jpg
- ignore:/js/common/jquery-1.4.2.js
- ignore:/html/CnEnrollRewardPopwindow.html
- ignore:/html/CnEnrolledRewardPopwin.html
- ignore:/html/CnEnrollRewardAgreePopwindow.html
- ignore:/js/common/jquery.jScroll.js
- ignore:/js/common/datepicker.js
- ignore:/js/ui.tools.js
x-balance-extraction-info:
  extracted_endpoints: 2
  supported_banks:
  - cmb_wing_lung
  - boc_hk
  extraction_timestamp: '2025-01-25T18:00:00Z'
